#karta {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(243, 33, 33);
    height: 350px;
    margin-left: 35%;
    margin-right: 35%;  
    margin-top: 15%; 
    margin-bottom: 15%; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
#zdjecie{
    height: 100px;
    width: 100px;
    margin-left: 80%;
}

#numer{
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0; /* Add vertical margin to separate elements */
    text-align: center;
}
#data{
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0; /* Add vertical margin to separate elements */
    text-align: right;
    margin-right: 4%;
}
#imie {
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0; /* Add vertical margin to separate elements */
    margin-left: 4%;
}
#generowanie {
    position: absolute; /* Position the element absolutely */
    left: 33%; 
    margin-bottom: -2%;
}






